<div class='container'>
    <div class='jumbotron text-center display-4 text-light'>
    <i class="fas fa-hamburger"></i>&nbsp;Eat Da Burger!
    </div>
    <div class='row'>
            <div class='col-lg-4 col-sm-4 col-md-12 text-center'>
                <div class='card'>
                <div class='card-header'>
                    <h3><i class='fas fa-pepper-hot'></i>&nbsp;Burgers not Devoured</h3>
                </div>
                    <ul class='list-group list-group-flush'>
                        {{#each burgers}}
                            {{#unless devoured}}
                            {{>burgers/burger-block devour = false}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{>burgers/add-burger}}
    </div>
    <div class='col-lg-4 col-sm-4 col-md-12 text-center'>
        <div class='card'>
            <div class='card-header'>
                <h3><i class='fas fa-drumstick-bite'></i>&nbsp;Burgers Devoured</h3>
            </div>
                <ul class='list-group list-group-flush'>
                {{#each burgers}}
                    {{#if devoured}}
                    {{>burgers/burger-block devour=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
    </div>

    </div>



</div>
