<div class="p-5">&nbsp;</div>
      <footer class="footer fixed-bottom py-3 text-white-50">
        <div class=" text-center">
          <small
            >&copy;
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>
            UofT SCS Coding Bootcamp</small
          >
        </div>
      </footer>